
<div id="contact-container" class="flex-space-between">
    <div id ="contact-text" class="flex-1">
        <h1> Contact Us </h1>
        <p> Give us a call if you need anything, or use the form to leave us a message. </p>
        <h2> Address </h2>
        <p> Unit 2, Ash Holt Ind Park, Bank End Rd, Finningley, Doncaster DN9 3NT </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2373.596247556444!2d-0.9731374488851355!3d53.493543579912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48790435d28a9781%3A0x13f7949d353ea3df!2sGA+Motor+Spares!5e0!3m2!1sen!2suk!4v1507740019634" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div id="contact-form" class="flex-1" >
        <%= form_for @message, html: {class: "flex-column"} do |f| %>
            <%= notice %>
            <%= @message.errors.full_messages.join(', ')%>
            <%= f.label :name, "Name"%>
            <%= f.text_field :name, placeholder: 'Enter your name'%>
            <%= f.label :email, "Email Address"%>
            <%= f.email_field :email, placeholder: 'Enter your email address'%>
            <%= f.label :phone, "Phone Number (optional)"%>
            <%= f.text_field :phone, placeholder: 'If you would prefer us to call you enter your phone number'%>
            <%= f.label :body, "Your Message"%>
            <%= f.text_area :body, placeholder: "Enter your message here"%>
            <%= f.submit "Send"%>
        <% end%>
    </div>
</div>