
<div id="">
<div id="contact form" class="flex-space-around">
<%= form_for @message, html: {class: "flex-column"} do |f| %>
<%= notice %>
<%= @message.errors.full_messages.join(', ')%>
<%= f.label :name, "Name"%>
<%= f.text_field :name, placeholder: 'Enter your name'%>
<%= f.label :email, "Email Address"%>
<%= f.email_field :email, placeholder: 'Enter your email address'%>
<%= f.label :phone, "Phone Number (optional)"%>
<%= f.text_field :phone, placeholder: 'If you would prefer us to call you enter your phone number'%>
<%= f.label :body, "Your Message"%>
<%= f.text_area :body, placeholder: "Enter your message here"%>
<%= f.submit "Send"%>
<% end%>
</div>