<h1> Contact Details </h1>
<ul>
<li> Contact Type: <%=@message.contact_type%></li>
<li> Name : <%= @message.name%></li>

<li> Email : <%= @message.email%></li>

<%if @message.phone %>
   <li> Phone : <%= @message.phone%></li>
<% end%>
<%if @message.contact_type == "scrap" || @message.contact_type == "parts" %>
<%if @message.make %>
    <li> Make : <%= @message.make%></li>
<% end%>
<%if @message.model %>
    <li>Model : <%= @message.model%></li>
<% end%>
<% end %>
<li>Message : <%= @message.body %></li>



